body{
    max-width: 900px;
    margin: auto;
    background-color: #1a1c1d;
    color: white;
    font-family: serif;
}


p{
    text-align: justify;
}

hr{
    color: white;
    margin-top: 10px;
}

pre {
    font-family: "Hack";
    padding: 1%;
    border-radius: 20px;
}

a{
    text-decoration: none;
    color: yellow;
}
a:hover {
    font-style: italic;
}

footer span{
    text-align: center;
    margin-top: 0.5em;
}
footer {
    text-align: center;
}

header {
    text-align: center;
}
header h1 {
    font-size: 300%;
}

header nav a{
    padding: 0.5em;
}

table {
    border-collapse: collapse;
    font-size: 0.9em;
}

table th{
    background-color: purple;
    color: white;
}
tr, th, td{
    border: 1px solid black;
    padding: 0.3em;
}

header, footer {
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;
}
header h1{
    font-family: "Kingthings Foundation";
}

header h1 span{
    color: purple;
}

article {
    width: fit-content;
    text-align: center;
    padding: 0.5em;
}

ul { text-align: left; }

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

blockquote {
    font-style: italic;
}


#blog ul, #blog ol{
    padding-left: 4%;
    padding-right: 4%;
}

#blog img{
    max-width: 600px;
}

@media (max-width:1000px)  {
    body {
        font-size: 80%;
        padding: 3%;
    }
    #blog img{
        max-width: 80%;
    }
}

@media (max-width:1600px)  {
    body {
        font-size: 90%;
        padding: 1%;
    }
}
